.nav-item>p{
    font-size: 10px;
    display: flex;
    justify-content: center;
    text-transform: capitalize;
}
.nav-item>p:hover{
    color: red; 
}

body{
    background-color: rgb(159, 208, 238);
    display: flex;
    justify-content: center;
}

.contenedor{
    background-color: whitesmoke;
}

.carousel-control-next{
    background-color: transparent;
    border: none; 
}
.carousel-control-prev{
    background-color: transparent;
    border: none;
}
.visually-hidden{
    font-size: medium;
    text-transform: capitalize;
}
@media(min-width: 768px){
    .contenedor{
        width: 95%;
    }
    .card{
        margin-left: 10px;
    }
}
@media(max-width: 767px){
    .contenedor{
        width: 100%;
    }
    .card{
        margin-left: 20px;
    }
}
#imgNoticia{
    display: flex;
    justify-content: center;
}
.tituloSeccion{
    background-color: rgb(221, 220, 219);
    display: flex;
    color: black;
    justify-content: center;    
    text-transform: capitalize;
    font-weight: 300;
    margin-top: 30px;
    padding: 12px;
}
.login{
    padding: 12px;
}
.d-grid{
    display: flex;
    justify-content: center;
}
.form-label{

    align-items: center;
    justify-content: center;
    display: flex;

}
.contadorNoticia, .contadorNoticiaNum{
    display: flex;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 12px;
    background-color: rgb(221, 220, 219);
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin-top: 20px;
    font-family: arial;
    display: flex;
    background-color: transparent;
    padding: 12px;
  }
 
  .desc {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
